/*
Syntax error: Undefined mixin 'border-radius-top-left'.
        on line 25 of ./sass/./_dictionary.sass, in `border-radius-top-left'
        from line 25 of ./sass/./_dictionary.sass
        from line 7 of /home/joe/Projects/xtac2/css/sass/master.sass

20:   background-color: transparent
21: 
22: /* Boilerplate styles to take care of various old-inconsistent browser display models
23: 
24: html
25:   background:
26:     color: white
27:     image: url(../images/body.png)
28: 
29: body
30:   background:

Backtrace:
./sass/./_dictionary.sass:25:in `border-radius-top-left'
./sass/./_dictionary.sass:25
/home/joe/Projects/xtac2/css/sass/master.sass:7
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/mixin_node.rb:72:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/rule_node.rb:188:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/import_node.rb:76:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/import_node.rb:64:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/root_node.rb:59:in `perform!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/tree/root_node.rb:29:in `render'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:221:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:86:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:79:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:79:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:77:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:77:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:172:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/path.rb:71:in `call'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/path.rb:34:in `update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/vendor/fssm/lib/fssm.rb:17:in `monitor'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/sass/plugin.rb:165:in `watch'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/haml/exec.rb:428:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/haml/exec.rb:340:in `process_result'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/haml/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/../lib/haml/exec.rb:22:in `parse!'
/usr/lib/ruby/gems/1.8/gems/haml-3.0.4/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius-top-left'.\A         on line 25 of ./sass/./_dictionary.sass, in `border-radius-top-left'\A         from line 25 of ./sass/./_dictionary.sass\A         from line 7 of /home/joe/Projects/xtac2/css/sass/master.sass\A \A 20:   background-color: transparent\A 21: \A 22: /* Boilerplate styles to take care of various old-inconsistent browser display models\A 23: \A 24: html\A 25:   background:\A 26:     color: white\A 27:     image: url(../images/body.png)\A 28: \A 29: body\A 30:   background:"; }
