.ac_results
  opacity: .98
  border: 1px solid #ccc
  border-top-style: none
  width: 348px !important
  margin-top: -4px
  padding: 0px
  overflow: hidden
  z-index: 99999
  background-color: #fff
  +bg-gradient(white, #ededed)
  /* Border Radius
  +border-bottom-left-radius(5px)
  +border-bottom-right-radius(5px)
  +box-shadow(rgba(0, 0, 0, 0.15), 0, 1px, 3px, false, inset)

.ac_results ul
  position: relative
  overflow: hidden
  font-size: 1.3em
  line-height: 1.8em
  max-height: 22.2em !important
  width: 100%
  list-style-position: outside
  list-style: none
  padding: 0
  margin: 0

.ac_results li
  margin: 0px
  padding: 2px 5px
  cursor: default
  display: block
  font: menu
  overflow: hidden

li.ac_over
  color: black
