body
  background:
    color: #555 !important
    image: none !important

#LastName, #MiddleInnitial, #ResidentialState, #ResidentialZip, #MailingState, #MailingZip
  margin-left: .5em

#Headline
  width: 8em !important

div.dg
  background-color: transparent
  border-bottom: 1px dotted gray
  border-top: none
li
  background-color: transparent !important
li.head
  top: -5px

ul
  behavior: url(border-radius.htc)
