// Mixins
@import compass/css3/gradient
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import customMixins

@import dictionary
@import forms
@import autocomplete
@import graphics

//@import "border-radius";
//@import "compass/reset";
@import jquery-ui

html,body
  margin: 0
  padding: 0
  font-size: 12px
  background-color: transparent

/* Boilerplate styles to take care of various old-inconsistent browser display models

html
  background:
    color: white
    image: url(../images/body.png)

body
  background:
    image: url(../images/header.png)
    repeat: no-repeat
    position: top center
  height: auto
  min-height: 450px
  font-family: 'Lucida Grande', Lucida, Verdana, sans-serif
  text-align: center
  margin: 0 auto

h1, h2
  font: normal normal 600 48px 'Myriad Pro Semibold', 'Myriad Pro', MyriadPro, Myriad, sans-serif
  color: #34425F

#Headline
  color: #fff
  width: 6em
  line-height: 85px
  height: 85px
  padding-top: 0
  margin: 0 auto
  padding-left: 85px
  font-weight: normal
  background:
    image: url("../images/svsublock.png")
    position: left center
    repeat: no-repeat

h2
  font-size: 2em
  padding: 0
  margin: 0
  line-height: 1.5em
  text-align: center

form
  margin: 0

#comments
  display: none

#debug
  clear: both
  text-align: left
  width: 50%
  margin: 0 auto

.unix
  display: none !important
  color: Green !important
