!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Xtac meta
    %link{:rel => :stylesheet, :href => "css/master.css"}
    %link{:rel => :stylesheet, :href => "css/meta.css"}
  %body
    %h1#Headline Add fields
    %form{:autocomplete => "off", :action => "addField.php", :method => :post}
      %p
        MySQL Field:
        %input#newMysqlField{:type => :text}
      %p
        LDAP Field:
        %input#newLdapField{:type => :text}
      %p
        Required Authorization Level:
        %select#authorizationLevelRequired
          %option{:value => :library} Library
          %option{:value => :admin} Admin
          -#%option{:value => :other} Other
      %input#submit{:type => :submit, :value => :Add}
